<div class="m-lg-3 ">
  <div class="row" *ngIf="isLoading">
    <h1><div class="ph-col-12"><div class="ph-row"><div class="ph-col-2 big"></div></div></div></h1>
  </div>
  <div class="row" *ngIf="!isLoading">
    <h1 [translate]="'iTheses.ThesesCompletedTitle'"></h1>
  </div>
  <!--pre-loading state-->
  <div class="row" *ngIf="isLoading">

    <div class="col-md-1 border-right">
      <div >
        <div class="ph-row">
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
        </div>
      </div>
    </div>

    <div class="col-md-11">
      <div class="card mb-3 mt-5">
        <div class="card-body">
          <div class="ph-col-12">
            <div class="ph-row">
              <div class="ph-col-8 big"></div>
            </div>
            <div class="ph-row">
              <div class="ph-col-2 big"></div>
              <div class="ph-col-2 ml-3 big"></div>
              <div class="ph-col-2 ml-3 big"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end pre-loading state-->

  <div class="app-body mt-5" *ngIf="completedTheses && completedTheses.length > 0">
    <!-- left menu -->
    <div class="app-sidebar d-none d-lg-block py-1">
      <div class="row">
        <ul class="menu-left pl-3">
          <li *ngFor="let years of completedTheses | groupBy: 'startYear.alternateName' | values; let i = index;">
            <a class="mb-4 fragment-link" [class.active]="selectedIndex === i" (click)="setIndex(i)"
               [routerLink]="['/theses/completed']" fragment="d{{years[0]?.startYear?.id}}" *ngIf="years[0].startYear">
              {{years[0]?.startYear?.alternateName}}
            </a>
            <a class="mb-4 fragment-link" [class.active]="selectedIndex === i" (click)="setIndex(i)"
               [routerLink]="['/theses/completed']" fragment="unknown" *ngIf="!years[0].startYear">
              <span [translate]="'iTheses.Unknown'"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- end left menu -->

    <div class="separator d-none d-lg-block"></div>

    <!-- content -->
    <div class="main inner__content px-md-5 px-2" id="inner__content" (scroll)="scrollHandler($event)">
      <div *ngFor="let years of completedTheses | groupBy: 'startYear.alternateName' | values" class="years" >
        <h3 class="mb-4" *ngIf="years[0].startYear" id="d{{years[0]?.startYear?.id}}">{{years[0]?.startYear?.alternateName}}</h3>
        <h3 class="mb-4" *ngIf="!years[0].startYear" id="unknown"><span [translate]="'iTheses.Unknown'"></span></h3>

        <div class="card mb-4" *ngFor="let thesis of years"> <!-- LOOP OF CARDS -->
          <div class="card-body">
            <div class="container-fluid px-3">

              <!-- one student -->
              <div class="d-flex justify-content-between" *ngIf="thesis?.students && thesis?.students.length==1">
                <div>
                  <div>
                    <h5>{{ thesis?.name }} {{ thesis?.status.alternatename }}</h5>
                  </div>
                  <div class="mb-2">
                    <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{ thesis?.type?.name }}</span>
                    <span class="text-secondary mr-3"><i class="fa fa-calendar pr-1"></i>{{thesis?.endDate | localizedDate: 'shortDate'}}</span>
                  </div>
                  <div>
                    <span class="text-secondary mr-3"><i class="fa fa-graduation-cap pr-1"></i>{{ thesis.students[0].student.familyName }} {{ thesis.students[0].student.givenName }}</span>
                    <span class="text-secondary mr-3"><i class="fa fa-graduation-cap pr-1"></i><span [translate]="'iTheses.StudentIdentifier'"></span> : {{thesis.students[0].student?.studentIdentifier}}</span>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <div class="d-flex align-items-center">
                    <span class="text-secondary align-middle mr-3 grade-title d-none d-sm-none d-md-block" [translate]="'iTheses.GradeTitle'"></span>
                  </div>
                  <div class="d-flex align-items-center">
                    <span [ngClass]="(thesis.students[0].isPassed)?'passed-grade':'failed-grade'">{{ thesis.students[0].formattedGrade }}</span>
                  </div>
                </div>
              </div>
              <!-- end one student -->

              <!-- many student -->
              <div *ngIf="thesis?.students && thesis?.students.length>1">
                <div>
                  <h5>{{ thesis?.name }}</h5>
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <div>
                    <div class="my-auto">
                      <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{ thesis?.type?.name }}</span>
                      <span class="text-secondary mr-3"><i class="fa fa-calendar pr-1"></i>{{thesis?.endDate | localizedDate: 'shortDate'}}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end">
                      <span class="text-secondary grade-title" [translate]="'iTheses.GradeTitle'"></span>
                  </div>
                </div>
                <div class="d-flex justify-content-between mb-2 border-top pt-1" *ngFor="let student of thesis.students; let isLast=last">
                  <div class="my-auto">
                    <span class="text-secondary mr-3"><i class="fa fa-graduation-cap pr-1"></i>{{ student.student.familyName }} {{ student.student.givenName }}</span>
                    <span class="text-secondary mr-3"><i class="fa fa-graduation-cap pr-1"></i><span [translate]="'iTheses.StudentIdentifier'"></span> : {{student.student?.studentIdentifier}}</span>
                  </div>
                  <div class="d-flex justify-content-end">
                    <span class="grade-small" [ngClass]="(student.isPassed)?'passed-grade':'failed-grade'">{{ student.formattedGrade || '-'}}</span>
                  </div>
                </div>
              </div>
              <!-- end many student -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end content -->

  </div>
  <!-- empty text -->
  <div *ngIf="!isLoading && completedTheses && completedTheses.length === 0">
    <div class="row mt-3">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text"  [translate]="'iTheses.ThesesCompletedEmpty'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end empty text -->
</div>
